<html>
  <head profile="http://a9.com/-/spec/opensearch/1.1/">
    <!-- ... -->
    <link rel="search"
          type="application/opensearchdescription+xml"
          href="{{ base_url }}bunnysearch.xml"
          title="Content search" />
  </head>
  <body>
    <h1> Bunny.aff </h1>
    Bunny.aff, like <a href = "http://www.bunny1.org/">bunny1</a>,
    is a tool that lets you write smart bookmarks in Python and share them with your entire team easily.

    <br />
    <h2> Installation </h2>
    By visiting this page in Google Chrome, bunny.aff search should automatically
    be registered in your list of search engines. Visit
  </body>
</html>